{% extends 'base.html' %}

{% block box %}
Car Index
{% endblock %}

{% block content %}
    <div class="heading-box" style="width: 80%;"><h2 class="heading">Car List</h2></div>
    <div class ='car-box' style="width: 80%; height: 90%;">
    <div class="car-grid">
    {% for car in object_list %}
    <li>
        <a href="/cars/{{car.id}}">
                <div class="car-link">
            <h3>Model: {{car.model}}<h3>
            </div>
            </a>
        <img  class="car-image" src={{car.car_image}}>
        <div class="car-data">
        <p>City MPG: {{car.city_mpg}}</p>
        <p>Class: {{car.car_class}}</p>
        <p>Combo MPG: {{car.combination_mpg}}</p>
        <p>Cylinders: {{car.cylinders}}</p>
        <p>Displacement: {{car.displacement}}</p>
        <p>Drive Type: {{car.drive}}</p>
        <p>Fuel Type: {{car.fuel_type}}</p>
        <p>Highway MPG: {{car.highway_mpg}}</p>
        <p>Make: {{car.make}}</p>
        <p>Transmission: {{car.transmission}}</p>
        <p>Year: {{car.year}}</p>     
        </div>
        </li>
    {% endfor %}
    </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}