{% extends 'base.html' %}

{% block box %}
Search Results
{% endblock %}

{% block content %}
<h1>Car List</h1>
    {% for car in cars %}
    <div class = 'car'>
        <a href="/cars/{{car.id}}">
            <h1>Model: {{car.model}}</h1>
        </a>
        <img src={{car.car_image}}>
        <p>City MPG: {{car.city_mpg}}</p>
        <p>Class: {{car.car_class}}</p>
        <p>Combo MPG: {{car.combination_mpg}}</p>
        <p>Cylinders: {{car.cylinders}}</p>
        <p>Displacement: {{car.displacement}}</p>
        <p>Drive Type: {{car.drive}}</p>
        <p>Fuel Type: {{car.fuel_type}}</p>
        <p>Highway MPG: {{car.highway_mpg}}</p>
        <p>Make: {{car.make}}</p>
        <p>Transmission: {{car.transmission}}</p>
        <p>Year: {{car.year}}</p>     
    </div>
    {% endfor %}
</body>
{% endblock %}