{% extends 'base.html' %}

{% block box %}
Car Index
{% endblock %}

{% block content %}
<div class = personalcars>
<h1>Personal Car List</h1>
    {% for car in cars %}
    <div class = 'car'>
        <a href="/cars/{{car.id}}">
            <img src={{car.car_image}}>
            <h1>Model: {{car.model}}</h1>
        </a>
        <p>City MPG: {{car.city_mpg}}</p>
        <p>Class: {{car.car_class}}</p>
        <p>Combo MPG: {{car.combination_mpg}}</p>
        <p>Cylinders: {{car.cylinders}}</p>
        <p>Displacement: {{car.displacement}}</p>
        <p>Drive Type: {{car.drive}}</p>
        <p>Fuel Type: {{car.fuel_type}}</p>
        <p>Highway MPG: {{car.highway_mpg}}</p>
        <p>Make: {{car.make}}</p>
        <p>Transmission: {{car.transmission}}</p>
        <p>Year: {{car.year}}</p>  
    </div>
    {% endfor %}
</div>
<div class = personalcomments></div>
    <h1>Personal Comment List</h1>
    {% for comment in comments %}
    <div class = 'comment'>
            <h1>Title: {{comment.title}}</h1>
            <h1>Date Create: {{comment.date_created}}</h1>
            <h1>Last Update: {{comment.last_updated}}</h1>
            name = {{comment.name}}
            content = {{comment.content}}
            date = {{comment.date}}
            car =  {{comment.car}}
    </div>
    <a href="/edit_show_comment/{{comment.id}}">Edit</a>
    <a href="/delete_comment/{{comment.id}}">Delete</a>
  </form>
    {% endfor %}
</div>
{% endblock %}