{% extends 'base.html' %}
{% block title %}
Sign Up
{% endblock %}
{% block box %}
new user
{% endblock %}
{% block content %}

<div class="heading-box" style="width: 70%">
<h2 class="heading">Sign Up</h2>
</div>
<div class="form-box" style="width: 70%" >
<div class="form-top"><p class="form-tag">Form</p></div>

<p class="red-text">{{ error_message }}</p>

<form method="POST" action="{% url 'signup' %}">
  <section class="form-options">
  <div class="lbl">
    {% csrf_token %}
  {{ form.as_p }}
  </div>
  </section>
  <div class="form-end">
    <p class="crsr">></p>
  <input type="submit" class="btn" value="Sign Up">
  </div>
</form>
</div>
{% endblock %}