{% extends 'base.html' %}
{% block title %}
About
{% endblock %}

{% block box %}
about
{% endblock %}
{% block content %}
<section class="rowflex">
<div class="textbox"><p id="textscroll">PiTCRU is an online resource dedicated to the quick, efficient, and cost-effective sharing of technical knowledge and fixes for cars of all makes, models, and eras. Through both intensive professional consultation and the personal intel and experience of our online community, we intend to create an intelligent and easily accessible guide to phase out inefficient means of both car browsing and troubleshooting. We here at PiTCRU sincerely hope you find this site a well of information and engagement both on and off the highway.</p></div>
<div id="pit-logo"><p>PiTCRU</p></div>
</section>
{% endblock %}