@font-face {
    font-family: 'Hexagon';
    src: url('fonts/Hexagon.woff') format('woff');
}
@font-face {
    font-family: 'stoNe';
    src: url('fonts/stoNe.woff') format('woff');
}
@font-face {
    font-family: 'Horsepower-Regular';
    src: url('fonts/Horsepower-Regular.woff') format('woff');
}
@font-face {
    font-family: 'SLIG-Wide';
    src: url('fonts/SLIG-Wide.woff') format('woff');
}
@font-face {
    font-family: 'Generic Mobile System';
    src: url('fonts/GenericMobileSystem.woff') format('woff');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
   display: flex;
   flex-direction: column;
}

body {
    background-color: #868a86;
}

#pitnav {
    overflow: hidden;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.navbit {
    
    font-family: 'Horsepower-Regular';
    font-size: 20px;
   font-weight: bold;
    height: 70%;
    overflow: hidden;
    border-right: 1px solid black;
    padding-right: 50px;
    animation: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbit:last-child {
    font-weight: normal;
    text-transform: none;
    border: none;
    font-family: 'stoNe';
    font-size: 25px;
}

@keyframes bitload {
    0% {
        height: 0%;
    }
    100% {
        height: 70%;
    }
}

a {
    color: black;
    cursor: pointer;
    animation-direction: forwards;
    text-decoration: none;
}

a:hover{
    animation: linkhover 1.5s linear infinite;
}

@keyframes linkhover {
    0% {
        color: black;
    }
    25% {
        color: yellowgreen
    }
    50% {
        color: white;
    }
    75% {
        color: yellowgreen
    }
    100% {
        color: black;
    }
}

#linebox {
    width: 100%;
    display: flex;
    padding-left: 80px;
    padding-bottom: 20px;
}

#loadbox {
    animation: lineload .45s linear  forwards;
    overflow: hidden;
    width: 95%;
   
   
}

#navline{
    width: 100%;
    border-top: 1px solid black;
    justify-self: left;
}


@keyframes lineload {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}

#navlist {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
#navlist * {
    color: black;
    text-decoration: none;
}


#pitmain {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}

.rowflex {
    height: 80%;
    width: 100%;
    display: flex;
   
   align-items: center;
   justify-content: center;
}
.columnflex {
    height: 100%;
    width: 50%;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}



.textbox {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    text-align: left;
}

#pit-logo {
    font-family: 'stoNe';
    font-size: 120px;
    animation: bitload .2s linear .7s forwards;
    height: 0%;
    width: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#pitfoot {
    width: 100%;
    height: 20%;
    z-index: -1;
    display: flex;
    
    align-items: center;
    padding-left: 150px;
    padding-top: 40px;
}


#routebox {
    font-family: 'Hexagon';
    z-index: -1;
    scale: 3;
}

.routechar {
    position: relative;
    bottom: 0;
    text-transform: uppercase;
}

.routediv {
    position: relative;
}

@keyframes routename {
    0% {
        bottom: 0;
        text-transform: uppercase;
    }
    5% { bottom: 5px;
        text-transform: lowercase;
    }
    45% {
        bottom: 5px;
        text-transform: lowercase;
    }
    50% {
        bottom: 0;
        text-transform: uppercase;
    }

    100% {
        bottom: 0;
        text-transform: uppercase;
    }
}

#shadowbox {
    font-family: 'Hexagon';
    position: relative;
    z-index: -2;
    bottom: 15px;
    scale: 3;
}

.shadowchar {
    position: relative;
    bottom: 0;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px -.5px black;
    opacity: 0%;
}

@keyframes routeshadow {
    0% {
        bottom: 0;
        opacity: 0%;
        
    }
    5% { bottom: 5px;
        opacity: 100%;
        
    }
    45% {
        bottom: 5px;
        opacity: 100%;
        
    }
    50% {
        bottom: 0;
       opacity: 0%;
       
    }

    100% {
        bottom: 0;
       opacity: 0%;
       
    }
}

.car-box {
    overflow: scroll;
    border: 1px solid black;
    width: 80%;
    height: 70%;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
}

.car-grid {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.car-grid > li {
    margin: 10px;
}

.car-image {
    border: 2px solid rgb(188, 197, 183);
    width: 200px;
    height: 150px;
}

.featured-heading {
    text-align: center;
    background-color:  rgb(81, 86, 79);
    color: white;
    border: 2px solid rgb(188, 197, 183);
    font-family: 'Generic Mobile System';
}

.heading-box {
    align-self: left;
    width: 80%;
    

}

.heading {
    border: 1px solid black;
    border-bottom: 0px;
    font-family: 'SLIG-Wide';
    
}

.form-box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.form-top {
 width: 100%;
 margin-bottom: 10px;
 display: flex;
 align-items: left;
 justify-content: left;   
}
.form-tag {
    font-family: 'Generic Mobile System';
    border: 1px solid black;
    border-width: 0px 1px 1px 0px;
}

.form-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}


.car-data {
    font-family: 'Generic Mobile System';
    font-size: 13px;
    border: 2px solid black;
    background-color: rgb(188, 197, 183);
    height: 150px;
    width: 200px;

}

.car-link {
    width: 200px;
    height: 50px;
    font-family: 'Generic Mobile System';
    font-size: 13px;
    border: 2px solid  rgb(188, 197, 183);
    background-color: rgb(81, 86, 79);
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-link:hover {
    animation: linkhover 1.5s linear infinite;
    background-color: rgb(120, 131, 120);
}



#textscroll {
    color: white;
}

.scrollchar {
    opacity: 0%;
    color: white;
    position: relative;
    left: 10px;
}


@keyframes scrolling {
    0% {
        left: 10px;
        opacity: 0%;
        color: white;
    }
    0% {
        left: 10px;
        opacity: 50%;
        color: white;
    }
    100% {
        left: 0px;
        opacity: 100%;
        color: black;
    }
}


::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    box-shadow: none;
    border-top: 1px solid black;
    
    
}
::-webkit-scrollbar-thumb {
    background-color: #0B3954;
    border-radius: 10px;
    
}
::-webkit-scrollbar-corner{
    background-color: none;
    border-top: 1px solid black;
}

.lbl {
    font-family: 'Generic Mobile System';
    text-transform: uppercase;
}

.txt {
    background-color: transparent;
    color: white;
    border: 1px solid black
}

.btn {
    color: black;
    background-color: rgb(201, 215, 201);
    border: 2px solid rgb(0, 0, 0);
    border-width: 2px 0px 0px 0px;
    border-left: 15px solid black;
    cursor: pointer;
    
    min-width: 80px;
    width: fit-content;
    font-family: 'Generic Mobile System';
}

.btn:hover {
    animation: linkhover 1.5s linear infinite;
    background-color: rgb(120, 131, 120);
}

.form-end {
    display: flex;
    justify-content: right;
    
    width: 100%;
    margin-top: 10px;
}

.crsr {
    font-weight: bold;
    position: relative;
    right: 0px;
    font-family: 'Generic Mobile System';
    animation: cursor-point .5s linear infinite;
}

@keyframes cursor-point {
    0% {
        right: 0px;
    }
    1% {
        right: 5px;
    }
    50% {
        right: 3px;
    }
    100% {
        right: 0px;
    }
}

.messages-box {
    overflow: scroll;
    border: 1px solid black;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
}

.comment-box {
    border: 2px solid rgb(211, 220, 231);
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 55, 69);
    color: white;
    font-family: 'Generic Mobile System';
    min-height: 100px;
}

.comment-sticker {
    align-self: left;
    width: 80%;
    

}

.name-title {
    border: 2px solid rgb(211, 220, 231);
    border-bottom: 2px solid rgb(60, 55, 69);
    font-family: 'Generic Mobile System';
    color: white;
    background-color: rgb(60, 55, 69);
    width: fit-content;
    z-index: 2;
    position: relative;
    top: 2px;
}
.date-tag {
    background-color: yellow;
    width: 50px;
    z-index: 3;
}

.comment-top {
    width: 100%;
    display: flex;
    justify-content: center;

}

.comment-lid {
    border: 1px solid white;
    border-radius: 3px;
    border-top: 0px;
    padding: 2px;
}

.comment-content {
    padding: 10px;
}

.comment-options {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.last-update, .date-made {
    align-self: left;
    justify-self: right;
    background-color: white;
    border: 1px solid black;
    font-family: 'Generic Mobile System';
}
.edit-comment, .delete-comment {
    align-self: right;
    justify-self: right;
    color: black;
    background-color: rgb(201, 215, 201);
    border: 2px solid rgb(0, 0, 0);
    border-width: 2px 0px 0px 0px;
    border-left: 15px solid black;
    cursor: pointer;
    
    width: 80px;
    font-family: 'Generic Mobile System';
}