
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PiTCRU</title>
</head>
<body>
  <h1>Home</h1>
  <section class="featured-cars">
    <h2>Featured Cars</h2>
    <ul class="car-grid">
     <!-- create a loop -->
      <li>
        <figure>
          
        </figure>
        <figcaption class="featured-info">
          <div>
            
          </div>
        </figcaption>
      </li>
      <li>
        <figure>
          
        </figure>
        <figcaption class="featured-info">
          <div>
            
          </div>
        </figcaption>
      </li>
      <li>
        <figure>
         
        </figure>
        <figcaption class="featured-info">
          <div>
            
          </div>
        </figcaption>
      </li>
    </ul>
  </section>
  <!-- search bar -->
</body>
</html>

