

{% block box %}
  Home
{% endblock %}

{% block content %}
  <section class="featured-cars">
    <h2>Featured Cars</h2>
    <ul class="car-grid">
      {% for car in cars|slice:":3" %}
          <li>

        <figure>
          <!-- car image -->
        </figure>
        <figcaption class="featured-info">
          <div>
            <h3>{{ car.year }} {{ car.make }} {{ car.model }}</h3>
          </div>
        </figcaption>
          </li>
      {% endfor %}
    </ul>
  </section>
 <input type="text">
 <button>Search</button>
{% endblock %}
