{% extends 'base.html' %}

{% block box %}
home
{% endblock %}

{% block content %}
  <section class="featured-cars">
    <h2>Featured Cars</h2>
    <ul class="car-grid">
      {% for car in cars %}
        <li>
          <figure>
            <!-- car image -->
          </figure>
          <figcaption class="featured-info">
            <div>
            <h3>{{ car.year }} {{ car.make }} {{ car.model }}</h3>
            </div>
          </figcaption>
        </li>
      {% endfor %}
    </ul>
  </section>
  <form action="/search/" method="POST">
    {% csrf_token %}
    <label for = 'year'>Year (1985-2023)</Label>
    <input type = 'number' id = 'year' name = 'year' min = 1985 max = 2023>
    <label for = 'make'>Make</Label>
    <input type = 'text' id = 'make' name = 'make'>
    <label for = 'model'>Model</Label>
    <input type = 'text' id = 'model' name = 'model'>
    <input type="submit" class="btn" value="Search">
</form>
{% endblock %}
